html {
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw; 
    height: 100vh;
    /* position: fixed; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    top:0px;
    */
}

a{
    text-decoration: none;
    /* display: inline; */
    color: black;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

.header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.header-icons-container .icons span{
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

main{
    width: 100vw;
    height: 100%;
    background-image: url(/assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

main .main-container{
    text-align: center;
    margin-top: 8rem;
    font-family: monospace;
}

main .main-container .main-container-title {
    color: white;
    letter-spacing: 10px;
    font-size: 2.3rem;
    width: 100%;
}

main .main-container .main-container-buttom {
    height: 40px;
    background-color: #47cfac;
    width: 100px;
    margin: 100px auto;
    display: grid;
}

main .main-container .main-container-buttom a {
    font-size: 15px;
    margin: auto;
    font-weight: bold;
}